@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    }
@keyframes clrtb {
    0% {
      color: lightgreen;
    }
    50% {
      color: red;
    }
    75%{
        color: aqua;
    }
}