refer{color:
    #0E0E10 
    #10e3a4 
    #2575fc
    #c90411
    #F8F8FF
    #FFA500
    #fc6b03
    #6666ff
    #76B900
    #002fed
    #ef0707
    #bd00ff
    #e3ff00
    }
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: black;
    width: 100%;
    height: 100px;
}
.logo-for-pc{
    width: 350px;
    position: absolute;
    left: 20px;
    top: -123px;
}
.header ul{
    position: absolute;
    left: 450PX;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header ul  li{
    margin-right: 50px;

}
.header ul  li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: clr;
    transition: all 0.3S linear ;
}
.header ul  li a:hover{
    background-color: #ef0707;
    padding: 10PX;
    border-radius: 5PX;
}
.header i {
    position: absolute;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 650px;
    background-color: #ef0707;
    height: 100%;
    width: 80px;
    top: 0px;
    border-radius: 5px;
    padding: 15px;
}
.searchbox{
    position: absolute;
    right: 50px;
    top: 0;
    bottom: 0;
    height: 50px;
    border: none;
    margin: auto;
    border-radius: 5px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbox::placeholder{
    position: absolute;
    left: 50px;
    font-family: clr;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15px;
}