refer{color:
    #0E0E10 
    #10e3a4 
    #2575fc
    #c90411
    #F8F8FF
    #FFA500
    #fc6b03
    #6666ff
    #76B900
    #002fed
    #ef0707
    #bd00ff
    #e3ff00
    }
.corl{
    width: 95%;
    height: 400px;
    position:absolute ;
    background-color: snow;
    display: flex;
    flex-direction: ROW;
    gap: 200px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: aliceblue;
    margin-top: 320PX;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll;
    border-radius: 10PX;
}
.corls{
   width: 200PX;
   height: 300pc;
   position:absolute;
   left: 50PX;
   right: 60px;
   height: 300PX;
background-color: #0E0E10;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
overflow: hidden;
transition: all 0.4s linear ;

}
.corl::-webkit-scrollbar{
    width: 10px;
    background-color: #0E0E10;
    border-radius: 10px;
}
.corl::-webkit-scrollbar-thumb{
    background-color: #10e3a4;
    border-radius: 10px;
    cursor: pointer;
}
.corls::after{
    animation:;
    content: "COMING SOON";
    position: absolute;
    color: #F8F8FF;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    font-family: clr;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s linear ;
}
.corls:nth-child(2)::after{
    content: "";
    background: url(Images/Banner/Ark2-bg.jpg);
    background-size: cover;

}
.corls:nth-child(1)::after{
    content: "";
    background: url(Images/FONT-PACK-THUMBNAIL.png);
    background-size: cover;
    background-position: center;
}
.corls:hover::after{
    transform: scale(1.1);
}
.corls::before{
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: clr;
    position: absolute;
    bottom: 0;
    background-color: #F8F8FF;
    width: 100%;
    height: 50px;
    box-shadow: 1px 1px 15px #0E0E10;
    z-index: 1;
    border-radius: 1px;
    transition: all 0.4s linear ;
}
.corls a{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: clr;
    position: absolute;
    bottom:16px;
    font-size:18px;
    left: 0;
    right: 0;
    margin: auto;
    text-decoration: none;
    color: #0E0E10;
    z-index: 2;
}
.corls:hover{
    box-shadow: 1px 1px 35px #76B900;
    border-radius: 10px;
    border: none;
}
.corls:hover::before{
    background-color:#76B900;
    left: 0;
    .download-now-corls{
        color: #efeff7;
    }
}