@media (max-width:800px) {
    body , * {
        overflow: hidden;
    }
    .header input{
        width: 50%;
    }
    .header img{
        position: absolute;
        left: -5%;
        width: 100px;
        height: 100px;
    }
    .logo-for-mobile{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 100%;
        margin-top: -8px;
        margin-left: 50px;
    }
    .dlbgames{
        display: none;
    
    }
    .container{
        position: absolute;
        top: -200px;
    }
}
@media (min-width:800px){
    .logo-for-mobile{
        display: none;
    }
}